# Dependabot - keep dependencies up to date
# https://docs.github.com/en/code-security/dependabot

version: 2
updates:
  - package-ecosystem: npm
    directory: /cli
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
    labels:
      - dependencies

  - package-ecosystem: npm
    directory: /studio
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    labels:
      - dependencies
